<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTXoGt3tJTHveuEJ-2YlNNIr9Od67g7tU</string>
	<key>GCM_SENDER_ID</key>
	<string>927912877297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gastro.gastro</string>
	<key>PROJECT_ID</key>
	<string>g4stro</string>
	<key>STORAGE_BUCKET</key>
	<string>g4stro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927912877297:ios:ab7cba67c846d3b9a5dd50</string>
	<key>DATABASE_URL</key>
	<string>https://g4stro-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>